body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

    background: #f6fff8;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 8px solid #ffd8be;
}

.avatar:hover {
    border: 8px solid #b8b8ff;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: #cce3de;
    color: #2b2839;
    border: 1px solid #fff;
    border-radius: 3px;       
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

div > p {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

div > h4 {
    font-size: 11px;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
